{% extends "base.html" %}
{% block title %}Gerenciador de Interesses{% endblock %}
{% block body %}
<header id="page-top">
   <div class="container forming">
      <div class="row">
         <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top" style="background:#F3F3F3;">
               <div class="form-top" style="text-align:center; background:#F3F3F3; padding-bottom:5px;">
                  <h3 style="color:#9cd151"><strong>Nenhuma task por enquanto <i class="far fa-smile"></i></strong></h3>
                  <hr />
                  <p>Aproveite o resto do seu tempo, ou fale para seu o chefe que você sairá mais cedo hoje <i class="fas fa-hand-peace"></i></p>
                  <img src="public/assets/images/work_done.png" width="300" style="padding-top:12px;"/>
               </div>
            </div>
            <div class="form-bottom" style="text-align:center; background:transparent; padding: 25px 25px 15px 25px; font-size:18px;">
               <a href="admin/manual">
               <p>Acessar Remapeamento Manual <i class="fas fa-hand-paper"></i><a>
            </div>
         </div>
      </div>
   </div>
</header>
{% endblock %}