{% extends "base.html" %}
{% block title %}Insira Seus Interesses Principais | iDent{% endblock %}
{% block body %}
<header id="page-top">
   <div class="container forming">
      <div class="row">
         <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top" style="background:#F3F3F3;">
               <div class="form-top" style="text-align:center; background:#F3F3F3; padding-bottom:5px;">
                  <img src="public/assets/images/dente.png" width="120" style="padding-top:12px;"/>
                  <h3 style="color:#9cd151"><strong>Quais são seus Interesses ?</strong></h3>
                  <p>Sua experiência na iDent será personalizada de acordo com seus interesses digitados no campo abaixo:</p>
               </div>
            </div>
            <div class="form-bottom" style="text-align:center; padding: 25px 25px 3px 25px;">
               <form role="form" action="" method="post" class="login-form">
                  <div class="form-group">
                     <div id="tags_inserted" style="margin-bottom:20px; display:none;">
                     </div>
                     <input type="text" name="tags" placeholder="Insira seus interesses..." maxlength="200" class="form-username form-control" id="form-username">
                     <small style="color:#868e96;">(Separe os interesses por vírgula, ex: Trauma, Estudos, Tutoriais)</small>
                  </div>
                  <button type="submit" id="buttonSend" style="max-width:50%;" class="btne">Continuar <i class="fas fa-angle-right"></i></button>
                  <div class="form-group" style="text-align:right; margin-top:12px;">
                     <small style="color:#868e96;">Passo 2/4</small>
                  </div>
               </form>
            </div>
            <div class="form-bottom" style="text-align:center; background:transparent; padding: 25px 25px 15px 25px; font-size:18px;">
               <a href="">
               <p>Pular Esta Etapa <i class="fas fa-arrow-right"></i></p>
               <a>
            </div>
         </div>
      </div>
   </div>
</header>
<script src="public/assets/js/main/index_home.js"></script> 
{% endblock %}